

<connectionStrings>
  <add name="PregledPrometaConn2016" connectionString="data source=87.237.204.173;initial catalog=ELBS_2016;user id=elbraco;password=elbsNK;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="PregledPrometaConn2017" connectionString="data source=87.237.204.173;initial catalog=ELBS_2017;user id=elbraco;password=elbsNK;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="PregledPrometaConn2018" connectionString="data source=87.237.204.173;initial catalog=ELBS_2018;user id=elbraco;password=elbsNK;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="PregledPrometa.Web.Properties.Settings.ELBS_ConnString"
    connectionString="Data Source=87.237.204.173;Initial Catalog=ELBS_2018" />
</connectionStrings>
